<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Generate" value="false" />
    <add key="PrintGrid" value="true" />
    <add key="AC3" value="true" />
    <add key="UnassignedVariable" value="false" />
    <add key="MRV" value="true" />
    <add key="DH" value="false" />
    <add key="LCV" value="true" />
  </appSettings>
</configuration>